<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <div class="container">
        <span>Oi, {{name}}</span>
        <br />
        <a href={{link}}>ebaa !!!!!!</a>
        </span>
    </div>
</body>

</html>